body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    margin-bottom: 10px;
}

#timer {
    font-size: 48px;
    margin: 20px 0;
    font-weight: bold;
}

.buttons button {
    font-size: 16px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#start { background-color: #2E8B57; color: white; }  /* Темно-зеленый */
#pause { background-color: #3CB371; color: white; }  /* Средний зеленый */
#reset { background-color: #32CD32; color: white; }  /* Ярко-зеленый */
